body {
  margin: 0;
  font-family: Inconsolata;
  position: relative;
  text-align: center;
  top: 5rem;
  font-size: 100%;
  background-color: black;
}

.container {
  color: rgb(32, 121, 5);
  font-size: 3vh;
}

a {
  color: rgb(32, 121, 5);
}

.img-hide .img-show {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 65%;
  margin-left: -60px;
  top: 16em;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.img-hide:hover .img-show {
  visibility: visible;
  opacity: 1;
}

.project-hide .project-show {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 15%;
  margin-left: -60px;
  top: 40em;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.project-hide:hover .project-show {
  visibility: visible;
  opacity: 1;
}
